{% extends "layout.html" %}

{% block title %}STEAD - Confirm your account{% endblock %}

{% block content %}
<div class="page-header">
    <h1>
        Hello, {{ current_user.username }}!
    </h1>
    <h3>You have Not Met your financial obligation yet.</h3>
    <p>
        Before you can access this site you need to confirm with the Financial Direction.
    <p>Contact him on this Email.</p>
    <p>or pay via Airtel money with your full name on this number
    <p>+23278546202</p></p>
    </p>
    <p>
        for more information about payment call
    <p>+23278546203</p>
        or visit


    </p>
</div>
{% endblock %}
