{% extends 'layout.html'%}

{% block content %}

    <div class="container">
    </div>

    <div class="container" id="arrange">
        <div class="row">
            <div class="col-sm-12 col-md-3 mt-5" id="sidenav">
                <div class="list-group">
                    <a href="../static/documents/STEADS BY-LAWS.pdf" download="" class="list-group-item list-group-item-action">
                        Stead Constitution
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Stead Calender</a>
                </div>

            </div>
            <div class="col-md-9">
                <div class="text-center">
                    <h1 class="my-4" style="font-family: 'Faster One', cursive;"> ABOUT STEAD SOCIETY</h1>
                </div>
                <br>
                <div>
                    <span>
                        (Science, Technology, Engineering and Arts Development Society) is a new organization with students at Fourah Bay College and Njala University that is taking an innovative approach to support minorities in STEAM fields and also promote Human Capital Development in Sierra Leone. 
                        They mission of STEAD is in two bigger folds:
                    </span>
                </div>
                <br> 
                <ul style="color: black; text-decoration: none; font-size: 18px; font-family: 'Electrolize', sans-serif;">
                    <li>
                        To foster interaction and collaboration within students that are passionate about STEAM.
                    </li>
                    <li>
                        To use innovative and creative ideas to provoke thought discussions and engagement of issues
                        affecting students, minorities in STEAM and the country.
                    </li>
                </ul>

                <p>
                    We plan to achieve these goals by advocating for more practical knowledge
                    in the STEAM field and also train the young generation to identify, and master
                    their profession for the benefit of the nation and promote human capital development in Sierra Leone. The above goals comprises of greater efforts from STEAD to foster communication within the STEAM community and the public, and in doing so, help to bring a voice to students and minorities facing challenges in the STEAM field.
                </p>



                <div class="mx-auto bg-warning" style="width:150px"></div>


                <div class="container">
                    <div class="row">
                        <h4 class="text-center " style="font-family: 'Faster One', cursive;">OBJECTIVES FOR THIS STEAD LAB </h4>
                        <ul style="color: black; text-decoration: none; font-size: 18px; font-family: 'Electrolize', sans-serif;">
                            <li>“STEAD” Recommend, Sensitize, train and educate students and youths that are passionate about STEAD to take part in providing educative and innovative solutions to solve pressing life challenges in their School, College, Community and their nation as a whole.</li>
                            <li>”STEAD” discourages any form of discrimination that will perpetrate among ethnics, region, disabilities, and political cause</li>
                            <li>”STEAD” we help the government in fulfilling their core goals. That is, quality education and human capital development by offering our service in terms of mentorship, tutorials and projects for school going children, university students and youth across the country in science, Technology and Innovation.</li>
                            <li>“STEAD” planned to be the bridge that connects the nation or institutions to powerful and sustainable nations with developmental partners who have made their names by providing solution to the world through STEAD programs. We will also partner with organizations in promoting growth in the mentality of students and youth.</li>
                            <li>“STEAD” promise to promote and advocate for students and youth by ensuring that the get fair treatment from communities residing and integrate all students by organizing Science, Technology, engineering and Art fair by participating in different extracurricular activities like Space programs, Educational events and recreational programs amongst different learning fields in the nation.</li>
                            <li>“STEAD” assist in the personal development of youths through both formal and practical training sessions and daily interaction in the areas of leadership, Science, Technology, Engineering, moral and values, clarification, social responsibility, programming and interpersonal cooperation.</li>
                        </ul>
                    </div>      
                    <div class="mx-auto bg-warning" style="width:150px"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="contactus">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 col-sm-12">
                <h2 class=" lacklist text-center" style="font-family: 'Faster One', cursive;">Contact us</h2><br><br>
                <p></p><h1 class="text-center">STEADS Feedback</h1><p></p>
                <p></p><h3 class="text-center">Ask STEAD Any Question</h3><p></p>


                <!-- Contact Section -->
                <div class="backpic">
                    <h4 id="contact"><b>Contact Me</b></h4>
                    <div class=" " style="margin:0 -16px">
                        <div class="w3-third w3-dark-grey ml-2">
                            <i class="fa fa-envelope w3-xxlarge w3-text-light-grey ml-2"></i>
                            <p> steadsociety825.sl@gmail.com</p>
                        </div>
                        <div class="w3-third w3-teal ml-2">
                            <i class="fa fa-map-marker w3-xxlarge w3-text-light-grey ml-2"></i>
                            <p>Freetown, Sierra Leone</p>
                        </div>
                        <div class="w3-third w3-dark-grey ml-2">
                            <i class="fa fa-whatsapp w3-xxlarge w3-text-light-grey ml-2"></i>
                            <p>Whatsapp</p>
                        </div>
                    </div>
                    <hr class="w3-opacity">
                    <form action="" target="_blank">
                        <div class="form-group border-primary">
                            <label>Name</label>
                            <input class="form-control" type="text" name="Name" required="">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="text" name="Email" required="">
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control z-depth-1 shadow p-3 mb-5 bg-white rounded" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary bg-danger"><i class="fa fa-paper-plane w3-margin-right"></i> Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- The footer -->
    <footer class="bottom" style="background-color: black;">
        <div class="container">
        <a class="nav-link float-left" href="#" style="color: whitesmoke; text-decoration: none;">STEAD</a>
        <nav class="nav text-dark justify-content-end" style="background-color: black;">
            <a class="nav-link" href="{{ url_for('core.about') }}" style="text-decoration: none;">About</a><span class="ml-1 mt-2" style="color: honeydew;">&#8739;</span>
            <a class="nav-link" href="https://www.facebook.com/STEAD-Society-2298321520414837/" target="blank" style="text-decoration: none;">Facebook</a><span class="ml-1 mt-2" style="color: honeydew;">&#8739;</span>
            <a class="nav-link" href="#" style="text-decoration: none;">YouTube</a><span class="ml-1 mt-2" style="color: honeydew;">&#8739;</span>
            <a class="nav-link" href="#" style="text-decoration: none; color: grey;">
                &#169; <small>2020 STEAD SOCIETY SIERRA LEONE</small> 
            </a>
        </nav>
        </div>
    </footer>

{% endblock %}