{% extends 'layout.html'%}

{% block content %}
    <div class="container">
        <p style="font-size: 40px; margin-top: 20px; font-weight: normal;">Change your Profile Picture</p>
        

        <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.profile_pic.label }}<br>
                {% if form.profile_pic.errors %}
        {{ form.profile_pic(class="form-control is-invalid", style="width: 50%; border-color: black; border-radius: 5px;") }}
        <div class="invalid-feedback">
        {% for error in form.profile_pic.errors %}
        <span>{{ error }}</span>
        </div>
        {% endfor %}
        {% else %}
            {{ form.profile_pic(class="form-group", placeholder=" New password", style="width: 50%; border-color: black; border-radius: 5px;") }}<br>
        {% endif %}

        <div class="row">
            <div class= "col-md-12 pl-3">
                {{ form.submit(class="btn btn-info disable") }}
                <a href=" {{url_for('core.account')}} "><button type="button" class="btn btn-secondary disable" style="width: 10%;">Cancel</button></a>
            </div>
        </div>
        <br>
        </form>
    </div>

{% endblock %}