{% extends 'layout.html'%}

{% block content %}
    <div class="container">
        <p style="font-size: 40px; margin-top: 20px; font-weight: normal;">Change your password</p>
        <p><small style="font-size: 20px;">A strong password helps prevent unauthorized access to your email account.</small></p>

        <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.current_password.label }}<br>
             {% if form.current_password.errors %}
        {{ form.current_password(class="form-control is-invalid", style="width: 50%; border-color: black; border-radius: 5px;") }}
        <div class="invalid-feedback">
        {% for error in form.current_password.errors %}
        <span>{{ error }}</span>
        </div>
        {% endfor %}
        {% else %}
        {{ form.current_password(class="form-group", placeholder=" Current password", style="width: 50%; border-color: black; border-radius: 5px;") }}<br>
            {% endif %}
            <span><a href=""><small>Forget your password?</small></a></span>
        </div>

        <div class="form-group">
            {{ form.new_password.label }}<br>
               {% if form.new_password.errors %}
        {{ form.new_password(class="form-control is-invalid", style="width: 50%; border-color: black; border-radius: 5px;") }}
        <div class="invalid-feedback">
        {% for error in form.new_password.errors %}
        <span>{{ error }}</span>
        </div>
        {% endfor %}
        {% else %}
            {{ form.new_password(class="form-group", placeholder=" New password", style="width: 50%; border-color: black; border-radius: 5px;") }}<br>
        {% endif %}
            <small>8-character minimum; case sensitive</small>
        </div>

        <div class="form-group">
            {{ form.confirm_new_password.label }}<br>
               {% if form.confirm_new_password.errors %}
        {{ form.confirm_new_password(class="form-control is-invalid", style="width: 50%; border-color: black; border-radius: 5px;") }}
        <div class="invalid-feedback">
        {% for error in form.confirm_new_password.errors %}
        <span>{{ error }}</span>
        </div>
        {% endfor %}
        {% else %}
            {{ form.confirm_new_password(class="form-group", placeholder=" Reenter password", style="width: 50%; border-color: black; border-radius: 5px;") }}
        {% endif %}
        </div>

        <div class="row">
            <div class= "col-md-12 pl-3">
                {{ form.submit(class="btn btn-info disable") }}
                <a href=" {{url_for('core.account')}} "><button type="button" class="btn btn-secondary disable" style="width: 10%;">Cancel</button></a>
            </div>
        </div>
        <br>
        </form>
    </div>

{% endblock %}