<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Acme|Akronim|Electrolize|Faster+One|Fredericka+the+Great|VT323&display=swap" rel="stylesheet">
    <!--Main body CSS -->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/main.css' ) }} " >
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/style.css' ) }} " >
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/bootstrap.css' ) }} " >
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='css/bootstrap.min.css' ) }} " >

    <style>
      @import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
      body{
        font-family: 'Abel', sans-serif;
      }
    </style>

    {% if title %}
        <title> Stead - {{ title }} </title>
    {% else %}
        <title>Home</title>
    {% endif %}
</head>
<body>
    <header class="nav-header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light text-dark" >
                    <div class="container" >
                            <a class="navbar-brand" href=" {{url_for('core.home')}} ">STEAD</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav ml-auto">
                                <li class="nav-item ">
                                  <a class="nav-link" href=" {{url_for('core.home')}} ">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{{ url_for('core.events') }}">Events</a>
                                </li>
                              {% if current_user.is_authenticated %}
                                <li class="nav-item">
                                  <a class="nav-link" href="{{ url_for('news_posts.news') }}">News</a>
                                </li>
                              {% endif %}
                                  {% if current_user.is_authenticated %}
                                       <li class="nav-item"><a class="nav-link" href="{{ url_for('core.student_list') }}">registered student</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('forum.forums') }}">Forum</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('core.account') }}">Account</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('users.logout') }}">Log Out</a></li>

                                    {% else %}
                                    <li class="nav-item"><a class="nav-link" href="{{ url_for('users.register') }}">Register</a></li>
                                  <li class="nav-item">
                                  <a class="nav-link" href="{{url_for('users.login')}} " >Log In </a>
                                  <!-- Modal -->
                                  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" style="color: black; text-transform: uppercase;">Log In to your account</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <form method="GET" action="#">
                                              <input type="email" class="form-control" id="form-style"  placeholder="Enter email" required>
                                              <br>
                                              <input type="password" class="form-control" id="form-style" placeholder="Password" required>
                                              <small class="text-muted ml-2">
                                                  <a href="#">Forget Password?</a>
                                              </small>
                                              <br>
                                              <br>
                                              <button type="submit" class="btn btn-outline-success btn-md btn-block">SIGN IN</button>
                                              <div class="border-top pt-3">
                                                  <small class="text-muted">
                                                      Need an account? <a class="ml-2" href="{{ url_for('users.register') }}" >Create an account</a>
                                                  </small>
                                              </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                  {% endif %}
                              </ul>
                            </div>
                    </div>
            </nav>
    </header>
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block scripts %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>